@model SalaryStructureViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{

    <link href="~/lib/jquery-ui/css/jquery-ui.min.css" rel="stylesheet" />
    <style>
        /*.ui-autocomplete {
            cursor: pointer;
            height: 400px;
            width: 300px;
            overflow-y: scroll;
            background-color: white;
            color: rgb(0,188,212);
            z-index: 1050;*/
            /*outline-style:outset;*/
        /*}*/
    </style>
}
<!-- Main Content Begin-->
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <form asp-area="SalaryArea" asp-controller="SalaryStructure" asp-action="Index" id="frmData">
                <div class="card text-center" style="background-color:green!important;color:white!important">
                    <h4>Employee Salary Structure</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <input type="hidden" id="SalaryStructureId" name="SalaryStructureId" value="0" />
                            <div class="form-group">
                                <label>Employee</label>
                                <input type="text" id="EmployeeName" name="EmployeeName" class="form-control" required="">
                                <input type="hidden" id="EmployeeId" name="EmployeeId" value="0" />
                            </div>

                            <div class="form-group">
                                <label>Active From</label>
                                <input type="text" id="activeFrom" name="activeFrom" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label>Basic</label>
                                <input type="text" id="basic" name="basic" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Active To</label>
                                <input type="text" id="activeTo" name="activeTo" class="form-control">
                            </div>


                        </div>
                    </div>

                </div>
                <div class="card-footer text-sm-left text-md-right text-lg-right text-xl-right">
                    <button type="submit" class="btn btn-primary" id="btnSave">Submit</button>
                </div>
            </form>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Employee Salary Structure</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%" id="tblData">
                        <thead>
                            <tr class="text-center">
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th>Basic</th>
                                <th>Home Rent</th>
                                <th>Medical</th>
                                <th>Transport</th>
                                <th>Hourly Pay Rate</th>
                                <th>Salary</th>
                                <th>Active From</th>
                                <th>Active TO</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                @if (Model.salaryStructures != null)
                                {
                                    int Sl = 1;
                                    @foreach (var data in Model.salaryStructures.OrderByDescending(x=>x.createdAt))
                                    {
                                        <tr class="text-center">
                                            <td>
                                                @Sl
                                            </td>
                                            <td>@data?.Employee?.name</td>
                                            <td>@data?.basic</td>
                                            <td>@data?.homeRent</td>
                                            <td>@data?.medical</td>
                                            <td>@data?.transport</td>
                                            <td>@data?.hourlyPayRate</td>
                                            <td>@data?.totalSalary</td>
                                            <td>@data?.activeFrom?.ToString("dd-MM-yyyy")</td>
                                            <td>@data?.activeTo?.ToString("dd-MM-yyyy")</td>
                                            <td class="text-nowrap">
                                                <a href="#" class="badge badge-warning badge-shadow" onclick="Edit(@data.Id,@data.EmployeeId,'@data.Employee.name',@data.basic,'@data.activeFrom','@data.activeTo')">Edit</a>
                                                <a href="#" class="badge badge-danger badge-shadow" onclick="Delete(@data.Id)">Delete</a>
                                            </td>


                                        </tr>
                                        Sl = Sl + 1;
                                    }
                                }
                                else
                                {
                                    <tr>
                                    </tr>
                                }

                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content End-->
@section Scripts{

    <script src="~/lib/jquery-ui/js/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#tblData").DataTable();
            $('#activeFrom').flatpickr({ dateFormat: "Y-m-d", minDate: "2010-01" });
            $('#activeTo').flatpickr({ dateFormat: "Y-m-d", minDate: "2010-01" });
            Common.Ajax('GET', '/EmployeeArea/Employee/GetEmployees', [], 'json', ajaxGetAllItem);
            CleanData();
        });


        function ajaxGetAllItem(response) {
            $("#EmployeeId").val("");
            var empData = [];
            $.each(response, function (id, option) {
                var obj = new Object();
                obj.key = option.Id;
                obj.value = option.name+" ("+option.contactNo+")";
                
                empData.push(obj);

            });
            $('#EmployeeName').autocomplete({
                source: empData,
                select: function (event, ui) {
                 
                    $("#EmployeeId").val(ui.item.key);
                    $("#EmployeeName").val(ui.item.value);
                }
            });
        }

        function CleanData() {

            $("#SalaryStructureId").val("");
            $("#EmployeeId").val("");
            $("#basic").val("");
            $("#activeFrom").val("");
            $("#activeTo").val("");

        }

        $('#btnSave').click(function () {

            $('#frmData').on('submit', function (event) {

                event.preventDefault();
                var frmdata = $('#frmData').serialize();
                console.log(frmdata);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You want to save this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, save it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/SalaryArea/SalaryStructure/Index",
                            type: "POST",
                            data: frmdata,
                            dataType: "json",
                            beforeSend: function () {
                                $('#btnSave').attr('disabled', 'disabled');
                                $('#btnSave').val('Submitting...');

                            },
                        }).done(function (data) {
                            $("#btnSave").removeAttr('disabled');
                            swal.fire('success', 'Saved Successfully!', 'success').then(function () {
                                CleanData();
                                location.reload();
                               
                            });

                        }).fail(function () {
                            $("#btnSave").removeAttr('disabled');
                            swal.fire('warning', 'Failed!', 'warning');
                        })
                    }

                });

            })

        })


        function Edit(Id, EmployeeId, name, basic, activeFrom, activeTo) {
            $("#SalaryStructureId").val(Id);
            $("#EmployeeId").val(EmployeeId);
            $("#EmployeeName").val(name);
            $("#basic").val(basic);
            $("#activeFrom").val(activeFrom);
            $("#activeTo").val(activeTo);
        }

        function Delete(Id) {

            Swal.fire({
                title: 'Are you sure?',
                text: "You want to Delete this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/SalaryArea/SalaryStructure/Delete/" + Id,
                        data: { Id: Id },
                        type: 'POST',
                    })
                        .done(function () {

                            swal.fire('Delete', 'Delete Successfully!', 'success').then(function () {
                                window.location.reload();
                            });
                        })
                        .fail(function () {
                            swal.fire('Cancelled', 'It will not be deleted. Please try again later !!!', 'error');
                        });
                }

            });
        }
    </script>
}