@model AdminCashTransactionViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{

}
<!-- Main Content Begin-->
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <form asp-area="GeneralTransactionArea" asp-controller="AdminCashTransaction" asp-action="Index" id="frmData">
                <div class="card text-center" style="background-color:green!important;color:white!important">
                    <h4>Add Cash Transaction</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <input type="hidden" id="AdminCashTransactionId" name="AdminCashTransactionId" value="0" />

                            <div class="form-group">
                                <label>Cash Amount</label>
                                <input type="text" id="cashAmount" name="cashAmount" class="form-control" required="">
                            </div>
                            <div class="form-group" id="checkPAyToBox">

                                <input type="checkbox" id="checkPayto" name="checkPayto" class="form-check-inline">
                                <label> Whom Pay TO</label>
                            </div>
                            <div class="form-group" id="payToDiv">
                                <label>Pay To</label>
                                <input type="text" id="payTo" name="payTo" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label>Transaction Type</label>
                                <select class="form-control" id="transactionType" name="transactionType" required="">
                                    <option value="" selected>Select</option>
                                    <option value="1" selected>Cash In</option>
                                    <option value="2" selected>Cash Out</option>

                                </select>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="card-footer text-sm-left text-md-left text-lg-left text-xl-left">
                    <button type="submit" class="btn btn-primary" id="btnSave">Submit</button>
                </div>
            </form>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4>Cash Transaction Details</h4>
                <b>Total Balance :<span class="text-right bg-primary text-white h5" id="showBalnce"></span></b>
            </div>
            <div class="card-body">

                <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%" id="tblData">
                    <thead>
                        <tr class="text-center">
                            <th>#</th>
                            <th>Cash Amount</th>
                            <th>Transaction Type</th>
                            <th>Pay To</th>
                            <th>Pay By</th>
                            <th>Transaction Date</th>
                            <th>IsApproved</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            @if (Model.adminCashTransactions != null)
                            {
                                int Sl = 1;
                                @foreach (var data in Model.adminCashTransactions.OrderByDescending(x => x.Id))
                                {
                                    <tr class="text-center">
                                        <td>
                                            @Sl
                                        </td>
                                        <td>
                                            @data?.cashAmount
                                        </td>
                                        <td>
                                            @if (data?.transactionType == 1)
                                            {
                                                <span class="bg-success text-white">Cash In</span>
                                            }
                                            else if (data?.transactionType == 2)
                                            {
                                                <span class="bg-warning text-white">Cash Out</span>
                                            }
                                            else
                                            {
                                                <span class="bg-danger">Invalid Transaction</span>
                                            }
                                        </td>
                                        <td>@data?.payTo</td>
                                        <td>
                                            @data?.payBy
                                        </td>
                                        <td>
                                            @data?.transactionDate?.ToString("dd-MM-yyyy")
                                        </td>

                                        <td>
                                            @if (data?.isApproved == 1)
                                            {
                                                <span class="bg-warning">Pending</span>
                                            }
                                            else if (data?.isApproved == 2)
                                            {
                                                <span class="bg-success">Approved</span>
                                            }
                                            else
                                            {
                                                <span class="bg-danger">Not Approved</span>
                                            }
                                        </td>
                                        <td class="text-nowrap">
                                            <a href="#" class="badge badge-warning badge-shadow" onclick="Edit(@data.Id,@data.cashAmount,@data.transactionType,'@data.payTo','@data.payBy','@data.createdAt',@data.isApproved)">Edit</a>
                                            <a href="#" class="badge badge-danger badge-shadow" onclick="Delete(@data.Id)">Delete</a>
                                        </td>
                                    </tr>
                                    Sl = Sl + 1;
                                }
                            }
                            else
                            {
                                <tr>
                                </tr>
                            }

                        }


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<!-- Main Content End-->
@section Scripts{

<script>
    $(document).ready(function () {
        $("#tblData").DataTable();
        CleanData();

        var Valance=parseInt((@Model.adminCashTransactions.Where(x=>x.transactionType==1).Sum(x=>x.cashAmount))-(@Model.adminCashTransactions.Where(x=>x.transactionType==2).Sum(x=>x.cashAmount)));
        $("#showBalnce").text(Valance);

        $("#payToDiv").hide();
        $('#checkPayto').click(function () {
            if ($(this).is(':checked')) {
                $("#checkPAyToBox").hide();
                $("#payToDiv").show();

                checkPAyToBox

            }
            else {
                $("#payToDiv").hide();
                $("#checkPAyToBox").show();
            }
        })

        $("#transactionType").change(function(){
            
        if($(this).val()==2 && parseInt($("#cashAmount").val())>parseInt($("#showBalnce").text()))
        {
            swal.fire('Sorry!!', 'Maximum Balance Limit:'+parseInt($("#showBalnce").text()), 'warning').then(function () {
                            $("#cashAmount").val(""); 
                            $("#cashAmount").val(parseInt($("#showBalnce").text())); 
            });
        }else{

        }
        })



    });


    function Edit(Id, cashAmount, transactionType, payTo, payBy, createdAt, isApproved) {
        CleanData();
        $("#AdminCashTransactionId").val(Id);
        $("#transactionType").val(transactionType);
        $("#cashAmount").val(cashAmount);
        $("#payTo").val(payTo);

    }

    function CleanData() {
        $("#AdminCashTransactionId").val("");
        $("#transactionType").val("");
        $("#cashAmount").val("");
        $("#payTo").val("");

    }

    $('#btnSave').click(function () {

        $('#frmData').on('submit', function (event) {

            event.preventDefault();
            var frmdata = $('#frmData').serialize();
            console.log(frmdata);
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to save this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, save it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/GeneralTransactionArea/AdminCashTransaction/Index",
                        type: "POST",
                        data: frmdata,
                        dataType: "json",
                        beforeSend: function () {
                            $('#btnSave').attr('disabled', 'disabled');
                            $('#btnSave').val('Submitting...');

                        },
                    }).done(function (data) {

                        $("#btnSave").removeAttr('disabled');
                        swal.fire('success', 'Saved Successfully!', 'success').then(function () {
                            CleanData();
                            location.reload();
                        });

                    }).fail(function () {
                        $("#btnSave").removeAttr('disabled');
                        swal.fire('warning', 'Failed!', 'warning');
                    })
                }

            });

        })

    })




    function Delete(Id) {

        Swal.fire({
            title: 'Are you sure?',
            text: "You want to Delete this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/GeneralTransactionArea/AdminCashTransaction/Delete/" + Id,
                    data: { Id: Id },
                    type: 'POST',
                })
                    .done(function () {
                        swal.fire('Delete', 'Delete Successfully!', 'success').then(function () {
                            window.location.reload();
                        });
                    })
                    .fail(function () {
                        swal.fire('Cancelled', 'It will not be deleted. Please try again later !!!', 'error');
                    });
            }

        });
    }
</script>
}




